:root{
    --primary:#18191F;
    --color:#4CAF4F;

}
@font-face {
    font-family: inter;
    src: url(./fonts/Inter_18pt-SemiBold.ttf);
}
.blackcolor{
    color: var(--primary) ; 
}
.text-green{
    color: var(--color);
}
.bggreen{
    background-color: var(--color);
}
.bg-hover:hover{
    background-color: var(--color);


}
.font{
    font-family: inter;
}
.bg-color{
    background-color: #F5F7FA;
}
.coustom-wrap{
    flex-wrap: wrap;
}





@media screen and (max-width: 768px) {
    .coustomwidth{
        width: 50%;
    }
    
}