:root{
    --primary:#18191F;
    --color:#4CAF4F;
    --color-2: #717171;
    --color-3: #4D4D4D;
    --color-4: #18191F;
    --color-5: #F5F7FA;
    --color-6: #263238;
    --color-7: #263238;

}
@font-face {
    font-family: inter;
    src: url(./fonts/Inter_18pt-SemiBold.ttf);
}
.blackcolor{
    color: var(--primary) ; 
}
.text-green{
    color: var(--color);
}
.bggreen{
    background-color: var(--color);
}
.bg-hover:hover{
    background-color: var(--color);


}
.font{
    font-family: inter;
}
.bg-color{
    background-color: #F5F7FA;
}
.coustom-wrap{
    flex-wrap: wrap;
}
.costum-gap-7{
    gap: 80px;
}
.coustom-size-5{
    font-size: 36px;
    font-weight: 600;
    
    
}
.textcolor{
    color: var(--color-3);
}
.size-7{
    font-size: 16px;
    color: var(--color-2);
    
}
.text-717171{
    color: var(--color-2);
}
.coustom-size-123{
    font-family: inter;
    font-size: 28px;
    font-weight: bold ;
}
.fs-14{
    font-size: 14px;
}
.color4{
    color: var(--color-4);
}
.color5{
    background-color: var(--color-5);
}
.color6{
    color: var(--color-6);
}
.color7{
    background-color: var(--color-7);
}
.textcolor5{
    color: var(--color-5);
}
.ml-5{
    margin-left: 160px !important;
}
.ml-4{
    margin-left: 180px !important;
}










@media screen and (max-width: 768px) {
    .coustomwidth{
        width: 100%;
    }
    .cos-size{
        font-size: 36px;
    }
    
}